<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>First_Servlet</servlet-name>
    <servlet-class>Servlet_API</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_Servlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Generic_Servlet</servlet-name>
    <servlet-class>Generic_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generic_Servlet</servlet-name>
    <url-pattern>/Generic_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mayank</servlet-name>
    <servlet-class>Http_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mayank</servlet-name>
    <url-pattern>/httpservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_Attrs</display-name>
    <servlet-name>Form_Attrs</servlet-name>
    <servlet-class>Form_Attrs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_Attrs</servlet-name>
    <url-pattern>/Form_Attrs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Config</display-name>
    <servlet-name>Servlet_Config</servlet-name>
    <servlet-class>Servlet_Config</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>value</param-value>
    </init-param>
    <init-param>
      <param-name>Mayank</param-name>
      <param-value>Gharwali</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Config</servlet-name>
    <url-pattern>/Servlet_Config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Context</display-name>
    <servlet-name>Servlet_Context</servlet-name>
    <servlet-class>Servlet_Context</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Context</servlet-name>
    <url-pattern>/Servlet_Context</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Mayank</param-name>
    <param-value>Baharwali</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Cookies</display-name>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesNext</display-name>
    <servlet-name>CookiesNext</servlet-name>
    <servlet-class>CookiesNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesNext</servlet-name>
    <url-pattern>/CookiesNext</url-pattern>
  </servlet-mapping>
</web-app>