<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>First_Servlet</servlet-name>
  	<servlet-class>Servlet_API</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>First_Servlet</servlet-name>
  	<url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Generic_Servlet</servlet-name>
  	<servlet-class>Generic_Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Generic_Servlet</servlet-name>
  	<url-pattern>/Generic_Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>mayank</servlet-name>
  	<servlet-class>Http_Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>mayank</servlet-name>
  	<url-pattern>/httpservlet</url-pattern>
  </servlet-mapping>
  
</web-app>