<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Last_Mayank_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>InsertCar.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertCarController</display-name>
    <servlet-name>InsertCarController</servlet-name>
    <servlet-class>com.controller.InsertCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCarController</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllCars</display-name>
    <servlet-name>ListAllCars</servlet-name>
    <servlet-class>com.controller.ListAllCars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllCars</servlet-name>
    <url-pattern>/listall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarServlet</display-name>
    <servlet-name>EditCarServlet</servlet-name>
    <servlet-class>com.controller.EditCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCarDetails</display-name>
    <servlet-name>UpdateCarDetails</servlet-name>
    <servlet-class>com.controller.UpdateCarDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarDetails</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarServlet</display-name>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>com.controller.DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>